body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #9d5e84;
}

h1{
    background-color:#f8b9cd;
    border-radius: 30px;
    border: solid 5px #d286a2;
    color: #2d2239;
}
button{
    border-radius: 30px;
    background-color: #9d5e84;
    border: 0;
}

h2{
   background-color:#dfb0cc;
   margin-right: 50px;
   margin-left: 50px;
   padding-bottom: 3px;
   border-radius: 20px;
   color: #2d2239;
}

p{
    font-weight: bold;
    font-size: 18px;
    color: #fad0dd;
}

button:hover{
    opacity: 0.6;
}